<h1>Liam Leahy</h1>
<%= image_tag("13612324_486694341541283_8734701449071004916_n.jpg") %>
<div id="hometown">Oslo, Norway</div>
<div id="year">Junior</div>
<div id="fun-fact">The Department of Energy recommends having your tank-based hot water heater set to 120 degrees Fahrenheit for most people, but if you've never adjusted the temperature on your hot water heater, it's probably set to 140 degrees, which is the default setting from most manufacturers.</div>
<div id="excited">Websites and such!</div>
